# include general Bricks that we will later use below.
Bricks: @<Bricks.cfg>

# There is only ever one Experiment. It is resolved as any other Brick.

# A word alignment experiment with corpus preprocessing (tokenization and truecasing).
Experiment: {
  input:  { rawSrc: "RAW.CORPUS", rawTrg: "RAW.CORPUS" }
  output: { alignment: $parts.WordAligner0.output.alignment }
  
  # language pair
  sourceLang: en
  targetLang: it

  # number of CPUs for parallel operations
  ncpus: 4
  
  parts: {
    # freely chosen name. Add numbers or other suffix to
    # distinguish from Bricks types for readability.
    PrepSrc: {
      extends: $Bricks.CorpusSidePreprocessor
      input:   { raw: $_._.input.rawSrc }
    }
    
    PrepTrg: {
      extends: $Bricks.CorpusSidePreprocessor
      input:   { raw: $_._.input.rawTrg }
    }
    
    WordAligner0: {
      extends: $Bricks.Giza.WordAligner
      input:   { src: $PrepSrc.output.truecased, trg: $PrepTrg.output.truecased }
    }
  }
}
