{#
 # This is actually the template of a shell script outputting moses.ini.
 #
 # Essentially just a workaround for creating an arbitrary template file.
 # We may want to implement a more general templating mechanism soon.
 #}

cat <<EOF > output/mosesIni

#########################
### MOSES CONFIG FILE ###
#########################

# input factors
[input-factors]
0

# mapping steps
[mapping]
0 T 0

[distortion-limit]
6

# feature functions
[feature]
UnknownWordPenalty
WordPenalty
PhrasePenalty
{%- for phraseTable in brick.input.phraseTables -%}
PhraseDictionaryOnDisk name=TranslationModel{{ loop.index0 }} num-features={{ phraseTable.numPhraseFeatures }} path={{ phraseTable }} input-factor=0 output-factor=0
{% endfor %}
{%- for reorderingTable in brick.input.reorderingTables -%}
LexicalReordering name=LexicalReordering{{ loop.index0 }} num-features={{ reorderingTable.numReorderingFeatures }} type={{ reorderingTable.reorderingConfigSpec }}-allff input-factor=0 output-factor=0 path={{ reorderingTable }}
{% endfor %}
{%- for languageModel in brick.input.languageModels -%}
KENLM lazyken=0 name=LM{{ loop.index0 }} factor=0 path={{ languageModel }} order={{ languageModel.ngramOrder }}
{% endfor %}
Distortion

# dense weights for feature functions
[weight]
# The default weights are NOT optimized for translation quality. You MUST tune the weights.
# Documentation for tuning is here: http://www.statmt.org/moses/?n=FactoredTraining.Tuning
UnknownWordPenalty0= 1
WordPenalty0= -1
PhrasePenalty0= 0.2
{% for phraseTable in brick.input.phraseTables -%}
TranslationModel0= 0.2 0.2 0.2 0.2
{% endfor %}
{%- for reorderingTable in brick.input.reorderingTables -%}
LexicalReordering0= 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3
{% endfor %}
{%- for languageModel in brick.input.languageModels -%}
LM{{ loop.index0 }}= 0.5
{% endfor %}
Distortion0= 0.3

EOF
