# Post-processing steps on phrase tables
# ======================================
# Filtering, binarization and similar post-processing steps.

# FilterTable
# -----------
# Given an input file (src), filters a phrase table or lexical reordering table
# so only the necessary phrases are retained.
#
FilterTable: {
  # table, filteredTable are gzipped
  input:  { table, src }
  output: { filteredTable }

  # from Experiment: path for used script
  MOSES: $_.MOSES

  template: """
    zcat input/table | {{ brick.MOSES }}/scripts/training/filter-table.pl input/src | gzip -c > output/filteredTable
  """
}

# FilterTables
# ------------
# Filter phrase table and lexicalized reordering table given an input file (src).
#
FilterTables: {
  # table, filteredPhraseTable, filteredReorderingTable are gzipped
  input:  { phraseTable, reorderingTable, src }
  output: {
    filteredPhraseTable: $parts.FilterPhraseTable0.output.filteredTable
    filteredReorderingTable: $parts.FilterReorderingTable0.output.filteredTable
  }

  # easier to override at once (this MUST be either configured, OR wired to a PhraseTable Brick)
  phraseTable: {
    numPhraseFeatures
    numReorderingFeatures
    reorderingConfigSpec
  }

  # these are used from moses.ini via class TemplateBrick
  numPhraseFeatures: $phraseTable.numPhraseFeatures
  numReorderingFeatures: $phraseTable.numReorderingFeatures
  reorderingConfigSpec: $phraseTable.reorderingConfigSpec

  parts: {
    FilterPhraseTable0: {
      extends: $FilterTable
      # table, filteredTable are gzipped
      input:  { table: $_._.input.phraseTable, src: $_._.input.src }
      output: { filteredTable }
    }

    FilterReorderingTable0: {
      extends: $FilterTable
      # table, filteredTable are gzipped
      input:  { table: $_._.input.reorderingTable, src: $_._.input.src }
      output: { filteredTable }
    }
  }
}

# BinarizePhraseTable
# -------------------
# Convert a gzipped plaintext phrase table (as described on PhraseScorer)
# into moses binary phrase table format (for PhraseDictionaryOnDisk).
#
BinarizePhraseTable: {
  # phraseTable is gzipped
  input:  { phraseTable }
  output: { binaryPhraseTableDir, misc, source, targetColl, targetInd, vocab }

  # from Experiment: path for used script
  MOSES: $_.MOSES

  template: """
    zcat input/phraseTable | {{ brick.MOSES }}/bin/CreateOnDiskPt 1 1 4 100 2 /dev/stdin output/binaryPhraseTableDir

    # not currently used, but later useful to actually have all our outputs.
    ln -sf binaryPhraseTableDir/Misc.dat output/misc
    ln -sf binaryPhraseTableDir/Source.dat output/source
    ln -sf binaryPhraseTableDir/TargetColl.dat output/targetColl
    ln -sf binaryPhraseTableDir/TargetInd.dat output/targetInd
    ln -sf binaryPhraseTableDir/Vocab.dat output/vocab
  """
}

# BinarizeReorderingTable
# -----------------------
# Convert a gzipped plaintext reordering table (same format as phrase table)
# into moses binary reordering table format (for LexicalReordering).
#
BinarizeReorderingTable: {
  # reorderingTable is gzipped
  input:  { reorderingTable }
  output: { binaryReorderingTablePrefix, idx, srctree, tgtdata, voc0, voc1 }

  # from Experiment: path for used script
  MOSES: $_.MOSES

  template: """
    zcat input/reorderingTable | {{ brick.MOSES }}/bin/processLexicalTable -in /dev/stdin -out output/binaryReorderingTablePrefix
    touch output/binaryReorderingTablePrefix  # make sure the prefix exists in filesystem

    # not currently used, but later useful to actually have all our outputs.
    ln -sf binaryReorderingTablePrefix.binlexr.idx output/idx
    ln -sf binaryReorderingTablePrefix.binlexr.srctree output/srctree
    ln -sf binaryReorderingTablePrefix.binlexr.tgtdata output/tgtdata
    ln -sf binaryReorderingTablePrefix.binlexr.voc0 output/voc0
    ln -sf binaryReorderingTablePrefix.binlexr.voc1 output/voc1
  """
}

# FilterBinarizeTables
# --------------------
# Filter phrase table and lexicalized reordering table given an input file (src).
# Then, binarize them.
#
FilterBinarizeTables: {
  # table, filteredPhraseTable, filteredReorderingTable are gzipped
  input:  { phraseTable, reorderingTable, src }
  output: {
    binaryPhraseTableDir: $parts.BinarizePhraseTable0.output.binaryPhraseTableDir
    binaryReorderingTablePrefix: $parts.BinarizeReorderingTable0.output.binaryReorderingTablePrefix
  }

  # easier to override at once (this MUST be either configured, OR wired to a PhraseTable Brick)
  phraseTable: {
    numPhraseFeatures
    numReorderingFeatures
    reorderingConfigSpec
  }

  # these are used from moses.ini via class TemplateBrick
  numPhraseFeatures: $phraseTable.numPhraseFeatures
  numReorderingFeatures: $phraseTable.numReorderingFeatures
  reorderingConfigSpec: $phraseTable.reorderingConfigSpec

  parts: {
    FilterTables0: {
      extends: $FilterTables
      # phraseTable, reorderingTable are gzipped
      input: {
        phraseTable: $_._.input.phraseTable
        reorderingTable: $_._.input.reorderingTable
        src: $_._.input.src
      }
      # output: { filteredPhraseTable, filteredReorderingTable }
    }

    BinarizePhraseTable0: {
      extends: $BinarizePhraseTable
      input:  { phraseTable: $FilterTables0.output.filteredPhraseTable }
      # output: { binaryPhraseTableDir, misc, source, targetColl, targetInd, vocab }
    }

    BinarizeReorderingTable0: {
      extends: $BinarizeReorderingTable
      input:  { reorderingTable: $FilterTables0.output.filteredReorderingTable }
      # output: { binaryReorderingTablePrefix, idx, srctree, tgtdata, voc0, voc1 }
    }
  }
}
