{% extends "brick.do.jinja" %}

{% block OverrideDependencies %}

redo-always

{% endblock %}

{% block Work %}

# run build script
moses_bin=$({{ brick.BRICKS }}/scripts/build-moses.sh -s {{ brick.srcRepo }} \
  -r {{ brick.revision }} -b {{ brick.branch }} -t {{ brick.buildType }} \
  -a {{ brick.AUTO_BUILD_DIR }} -m "{{ brick.target }}")

# out of curiosity, fetch the description including revision
full_name=$(basename $(dirname $(dirname $moses_bin)))

# create real copy of the moses binary
#cp $moses_bin output/mosesBin
cp $moses_bin output/$full_name
ln -sf $full_name output/mosesBin

{% endblock %}
