# include general Bricks that we will later use below.
Bricks: @<Bricks.cfg>

# Builds a moses decoder from sources.
Experiment: {
  # inherit machine-specific paths, ncpus, ...
  extends: $Bricks.Setups.Hopper

  input:  {}
  output: { mosesBins: $parts.MosesBuilds0.output.mosesBins }

  parts: {
    # magic loop config pattern
    MosesBuilds0: {
      input:  {}
      output: { mosesBins: [$parts[$i].output.mosesBin] }

      mosesBinVersions: [
        {
          revision: "HEAD"
        }
        {
          revision: "master"
        }
      ]

      i: [0..$mosesBinVersions.length-1]

      parts: [{
        # implicit scalar $i
        extends: $Bricks.Moses.BuildMoses
        # output: { mosesBin }

        # speed up the build
        target: "moses"

        revision: $mosesBinVersions[$i].revision

        # srcRepo:   "git@github.com:moses-smt/mosesdecoder.git"
        # revision:  "HEAD"
        # branch:    "master"
        # buildType: "Release"
        # target:    ""
      }]
    }
  }
}
