# This file defines config keys that can be inherited by Experiment.
# It includes settings which are specific to the machine you want to
# run experiments on.

extends: @<Setups/SetupBase.cfg>

# paths used in training script templates,
# e.g. train-model.perl, get-lexical.perl, filter-table.pl,
# bin/extract, bin/score, bin/consolidate, bin/lexical-reordering-score,
# bin/lmplz, bin/build_binary ...
MOSES: "/fs/lofn0/dmadl/mmt/mosesdecoder"
EXTERNAL_BIN_DIR: "/fs/lofn0/dmadl/software/mgiza/mgizapp/bin"

# Part-of-speech taggers
POS_TOOLS_DIR: "/fs/lofn0/dmadl/mmt/postools"
JAVA_HOME: "/fs/lofn0/dmadl/mmt/jdk1.8.0_66"

# staging area for moses builds (for scripts/build-moses.sh)
AUTO_BUILD_DIR: "/fs/gna0/dmadl/build/auto"

# number of CPUs for parallel operations
N_CPUS: 16

# models for various experiments
#MODEL_DIR: "/fs/saxnot0/dmadl/models"

# ModernMT corpus data
MMT_CORPUS_DIR: "/home/dmadl/mmt/data/training"



# provides alternative GCC install folder here, e.g. "/opt/gcc-4.9.2"
# used in Moses.cfg in BuildMoses

# NOTE: also need ~/.profile to contain LD_LIBRARY_PATH=/home/dmadl/gcc-4.9.2/lib64
# (and copy GCC there, to /home on the respective machine -- don't use NFS for LD_LIBRARY_PATH's sake)
GCC_TOOLSET: "/home/dmadl/gcc-4.9.2"

# directory to cache word alignments in (to avoid useless recomputation)
WORD_ALIGNMENT_CACHE_DIR: "/fs/lofn0/dmadl/mmt/run-bricks/word-align"
POS_CACHE_DIR: "/fs/lofn0/dmadl/mmt/run-bricks/pos"
