# This file defines config keys that can be inherited by Experiment.
# It includes settings which are specific to the machine you want to
# run experiments on.

# paths used in training script templates,
# e.g. train-model.perl, get-lexical.perl, bin/extract ...
MOSES: "/home/david/mmt/mmt-src-nosync/mosesdecoder"
EXTERNAL_BIN_DIR: "/home/david/mmt/software/mgiza/mgizapp/bin"

# number of CPUs for parallel operations
ncpus: 4
