Bricks: @<Bricks.cfg>

# overridden in $Setup / Hopper.cfg only, to simplify testing experiments
MMT_VARIANT: $Setup.MMT_VARIANTS.real

MMTBaseline: @"baseline.cfg"

Experiment: {
  extends: $MMTBaseline.Experiment

  DESCRIPTION: """
    Baseline plain Moses: phrase-based model with lexicalized reordering.
    3-domain MMT data.

    Domain adaptation scenario (different training and dev/test domains).

  """ + $corporaDescription

  corpora: {
    train: "benchmark-1.1-cat"
    dev: "benchmark-1.1-cat"
    test: "benchmark-1.1-cat"
  }

  # all the corpora concatenated & preprocessed here...
  corpus_data: $MMT_CORPUS_DIR + "/" + $variant
  corpus_truecased_train: $corpus_data + "/" + $corpora.train + "/train.clean."
  corpus_truecased_dev: $corpus_data + "/" + $corpora.dev + "/dev2.tok."
  corpus_truecased_test: $corpus_data + "/" + $corpora.test + "/dev3.tok."

  nlinesTrain: ALL  # use the given number of lines for training data

  parts: {
    extends: $MMTBaseline.Experiment.parts

    TestTables0: {
      extends: $Bricks.Phrase.Post.BinarizeCompactTables
      # table, filteredPhraseTable, filteredReorderingTable are gzipped
      input: {
        phraseTable: $PhraseTable0.output.phraseTable
        reorderingTable: $PhraseTable0.output.reorderingTable
        src: $TestSet0.output.testSrc
      }
      # output: { binaryPhraseTableDir, binaryReorderingTableDir }

      # for various phrase table config (e.g. numFeatures) used in moses.ini
      phraseTableConfig: {
        #extends: $PhraseTable0.phraseTableConfig  # why does inheritance not work?

        numPhraseFeatures: $PhraseTable0.phraseTableConfig.numPhraseFeatures
        numReorderingFeatures: $PhraseTable0.phraseTableConfig.numReorderingFeatures
        reorderingConfigSpec: $PhraseTable0.phraseTableConfig.reorderingConfigSpec

        dictionaryType: "PhraseDictionaryCompact"
      }
    }
  }
}
