{#
 # GIZA++/mgiza wrapper.
 #}
{% extends "brick.do.jinja" %}

{# overrides brick.do.jinja #}
{% block Work %}

{% block AddPrepareWork %}{% endblock %}

# note: -alignment has no effect here, as we do not yet symmetrize.

{%- if brick.finalAlignmentModel is number %}
echo >&2 "note: word aligner using non-default --final-alignment-model={{ brick.finalAlignmentModel }}"
{%- endif %}

{{ brick.MOSES }}/scripts/training/train-model.perl \
{% block AddTrainingOptions %}{% endblock %}
{%- if brick.finalAlignmentModel is number %}
    --final-alignment-model={{ brick.finalAlignmentModel }} \
{%- endif %}
    -external-bin-dir "{{ brick.EXTERNAL_BIN_DIR }}" \
    -mgiza -mgiza-cpus {{ brick.gizaCpus }} -parallel \
    -f {{ brick.sourceLang }} -e {{ brick.targetLang }}

{% block AddFinishWork %}{% endblock %}

{%- endblock %}
