{#
 # Decides whether to provide cached alignment or to actually compute it using our parts.
 #}
{% extends "brick.do.jinja" %}

{% block OverrideDependencies %}

# handle input dependencies (make sure inputs exist)

(
    # dependencies (input only)
    {%- for dependency in brick.dependencies('input') %}
        echo {{ dependency }}
    {%- endfor %}

{% if brick.dependencies('input') | length == 0 %}
    # we have no dependencies
    true
{% endif %}
) | xargs redo-ifchange


# now check input corpus hashes to see if this corpus has been aligned before

srcHash=$(sha1sum input/src | awk '{print $1}')
trgHash=$(sha1sum input/trg | awk '{print $1}')
hash=${srcHash}_${trgHash}
cachedAlignment="{{ brick.cacheDir }}/$hash"

# have cached version?
if [ -e "$cachedAlignment" ]; then
  zcat "$cachedAlignment" > output/alignment
else


# handle output dependencies (create the alignment)

(
    # dependencies (input only)
    {%- for dependency in brick.dependencies('output') %}
        echo {{ dependency }}
    {%- endfor %}

{% if brick.dependencies('output') | length == 0 %}
    # we have no dependencies
    true
{% endif %}
) | xargs redo-ifchange

fi

{% endblock %}


{% block Work %}

# cache the resulting alignment (if not yet cached)
if [ -d "{{ brick.cacheDir }}" -a ! -e "$cachedAlignment" ]; then
  gzip -c output/alignment > "$cachedAlignment.tmp"
  # avoid races where the file is still being created
  mv "$cachedAlignment.tmp" "$cachedAlignment"
fi

{% endblock %}
